# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.venv

# IDEs and editors
.crush/
.idea/
.vscode/
QWEN.md

# Databases and Session Files
*.session
*.session-journal

# Data files
/data/

# Log files
/logs/
*.log

# pip-tools cache
.pip-tools/

# Test and Linter Caches
.pytest_cache/
.ruff_cache/

# Coverage data
.coverage
htmlcov/

# Database files
*.sqlite
