# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.venv

# IDEs and editors
.crush/
.idea/
.vscode/

# Databases and Session Files
*.session
*.session-journal

# Data files
/data/

# Log files
/logs/
*.log
