# Core dependencies
chromadb
litellm
litellm[proxy]
python-dotenv
git+https://github.com/TelegramPlayground/pyrogram.git
TgCrypto
tqdm
structlog
rich
pyrate-limiter
apscheduler
pydantic
pydantic-settings
python-telegram-bot
